
.additional-wrapper {
	background-color: #ffffff;
	padding: 25px 20px 26px;
}

.additional-wrapper__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 36px;
}
