.additional-cards {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;

	@media #{$not-mobile} {
		box-shadow: 0 0 1px 1px #f2f2f2;
		padding: 26px 38px;
	}

	@media #{$desktop-only} {
		padding: 0;
		padding-right: 79px;
		gap: 0;
		margin: 0;
		box-shadow: none;
	}
}

.additional-cards__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	margin-bottom: 20px;

	&:marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		grid-template-columns: 2fr 1fr 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 270px 200px 100px 244px;
		border-top: 1px solid #cdcdcd;
		margin: 0;
	}
}

.additional-cards__item:last-child {
	border-bottom: 1px solid #cdcdcd;
}

.additional-cards__title {
	font-family: var(--accent-font);
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 13px;
	grid-column: 1 / -1;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 26px;
		grid-column: 1 / 2;
		grid-row: 1 / 1;
		margin-top: 26px;
		margin-bottom: 25px;
	}

	@media #{$desktop-only} {
		grid-column: 1/2;
		font-size: 20px;
		line-height: 20px;
	}
}

.additional-cards__text {
	font-family: var(--main-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	grid-column: 1 / 2;
	text-align: left;

	@media #{$not-mobile} {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		margin-top: 26px;
		margin-bottom: 30px;
		text-align: right;
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		grid-column: 2/3;
		text-align: left;
	}
}

.additional-cards__prise {
	font-family: var(--main-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	grid-column: 2 / 3;
	text-align: right;

	@media #{$not-mobile} {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		margin-top: 26px;
		margin-bottom: 30px;
		text-align: right;
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		grid-column: 3/4;
		text-align: left;
	}
}

.additional-cards__button {
	padding: 10px 109px;
	grid-column: 1 /-1;
	text-decoration: none;

	@media #{$not-mobile} {
		padding: 14px 94px;
	}

	@media #{$desktop-only} {
		grid-column: 4/5;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
