
.additional-cards__item::marker {
	color: transparent;
}

.additional-cards__title {
	font-family: "Oswald", sans-serif;
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
}

.additional-cards__text {
	font-family: "Lato", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}

.additional-cards__prise {
	font-family: "Lato", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}

.additional-cards__button {
	padding: 10px 109px;

	@media #{$not-mobile} {
		padding: 14px 94px;
	}

	@media #{$desktop-only} {
		padding: 14px 287px;
	}
}
