.button {
	background-color: var(--accent-color);
	color: #ffffff;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	border: none;
	text-transform: uppercase;
	text-align: center;

	&--show-all-different {
		background-color: #f2f2f2;
		color: var(--main-color);
	}
}

.button:hover {
	background-color: #5eaa2f;
}

.button:active {
	color: hsl(0 0% 100% / 0.3);
}

.button:focus {
	background-color: #5eaa2f;
}

.button--show-all-different:hover {
	background-color: #ebebeb;
}

.button--show-all-different:active {
	color: hsl(0 0% 27% / 0.3);
}

.button--show-all-different:focus {
	background-color: #ebebeb;
}
