.button {
	background-color: var(--accent-color);
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	border: none;
	text-transform: uppercase;
}

.hero__button {
	display: flex;
	font-size: 14px;
	line-height: 18px;
	padding: 7px 44px;
	margin: 0 auto;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 20px;
	}
}

.card__button {
	padding: 10px 109px;

	@media #{$not-mobile} {
		padding: 14px 94px;
	}

	@media #{$desktop-only} {
		padding: 14px 53px;
	}
}

.additional-card-item__button {
	padding: 10px 109px;

	@media #{$not-mobile} {
		padding: 14px 94px;
	}

	@media #{$desktop-only} {
		padding: 14px 287px;
	}
}
