
.card__button {
	padding: 10px 109px;
	grid-column: 1/-1;
	grid-row: 3/4;
	text-decoration: none;

	@media #{$not-mobile} {
		padding: 10px 94px;
		grid-row: 5/6;
	}

	@media #{$desktop-only} {
		padding: 10px 53px;
	}

	&--show-all {
		background-color: #f2f2f2;
		font-family: var(--accent-font);
		color: #444444;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 94px;
		grid-row: 5/6;
		grid-column: 1/-1;
		text-decoration: none;
	}

	@media #{$not-mobile} {
		&--show-all {
			grid-column: 1/-1;
			padding: 10px 39px;
			grid-row: 4/5;
		}
	}
}

.card__button--show-all:hover {
	background-color: #ebebeb;
}
