.card__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 19px;

	&--different-card {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		padding: 11px 0 14px;
	}

	@media #{$not-mobile} {
		padding: 34px 38px 39px 36px;
		background-color: #f2f2f2;

		&--different-card {
			padding-right: 46px 0 40px;
			background-color: #ffffff;
			box-shadow: 0 0 2px 2px #f2f2f2;
			inline-size: fit-content;
		}
	}
}

.card__item::marker {
	color: transparent;
}

.card__title {
	font-family: var(--accent-font);
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	grid-column: 2/3;
	grid-row: 1/2;
	padding-right: 101px;
	margin: 0;

	&--different-title {
		padding: 0;
	}

	@media #{$not-mobile} {
		padding: 34px 72px 21px 77px;
	}

	@media #{$desktop-only} {
		padding: 34px 40px 21px 50px;

		&--different-title {
			padding: 34px 28px 21px 33px;
		}
	}
}

.card__link {
	text-decoration: none;
	grid-column: 2/-1;

	&--product-image {
		grid-column: 1/2;
		grid-row: 1/3;
		margin: 0 auto;
	}

	&--different-card-link {
		grid-column: 1/-1;
		padding-top: 10px;
	}

	@media #{$not-mobile} {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		text-align: center;

		&--product-image {
			grid-column: 1 / -1;
			grid-row: 1/2;
			width: 60px;
			height: 100%;
		}
	}

	@media #{$desktop-only} {
		&--product-image {
			margin-top: -29px;
		}

		&--different-card-link {
			margin: 0 auto;
			padding-top: 51px;
			padding-bottom: 0;
		}
	}
}

.card__description {
	grid-column: 1/-1;
}


.card__button {
	padding: 10px 109px;
	grid-column: 1/-1;
	grid-row: 3/4;
	text-decoration: none;
	margin-top: 10px;

	@media #{$not-mobile} {
		padding: 10px 94px;
		grid-row: 5/6;
	}

	@media #{$desktop-only} {
		padding: 10px 53px;
	}

	&--show-all {
		background-color: #f2f2f2;
		font-family: var(--accent-font);
		color: #444444;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 94px;
		grid-row: 5/6;
		grid-column: 1/-1;
		text-decoration: none;
	}

	@media #{$not-mobile} {
		&--show-all {
			grid-column: 1/-1;
			padding: 10px 39px;
			grid-row: 4/5;
		}
	}
}
