.card-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 19px;

	&--different-card {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		padding: 11px 0 14px;
	}

	@media #{$not-mobile} {
		grid-template-columns: 126px 126px;
		padding: 34px 36px;
		background-color: #f2f2f2;
		margin: 30px;

		&--different-card {
			grid-template-columns: 258px;
			padding-right: 46px 0 40px;
			background-color: #ffffff;
			box-shadow: 0 0 2px 2px #f2f2f2;
		}

		@media #{$desktop-only} {
			grid-template-columns: 90px 90px;
			background-color: #f2f2f2;
			margin: 30px;
		}
	}
}

.card-item:nth-child(1) {
	margin-left: 0;

	@media #{$not-mobile} {
		margin-left: 30px;
	}
}

.card-item:nth-child(5n) {
	margin-left: 0;

	@media #{$not-mobile} {
		margin-left: 30px;
	}
}


.card-item::marker {
	color: transparent;
}

.card-item__title {
	font-family: "Oswald", sans-serif;
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	grid-column: 2/3;
	grid-row: 1/2;
	padding-right: 101px;
	margin: 0;

	&--different-title {
		padding: 0;
	}

	@media #{$not-mobile} {
		padding: 34px 37px 21px 42px;
	}
}

.card-item__link {
	text-decoration: none;
	grid-column: 2/-1;

	&--product-image {
		grid-column: 1/2;
		grid-row: 1/3;
		margin: 0 auto;
	}

	&--different-card-link {
		grid-column: 1/-1;
		padding-top: 10px;
	}

	@media #{$not-mobile} {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		text-align: center;

		&--product-image {
			grid-column: 1 / -1;
			grid-row: 1/2;
			width: 60px;
			height: 100%;
		}
	}

	@media #{$desktop-only} {
		&--product-image {
			margin-top: -29px;
		}

		&--different-card-link {
			margin: 0 auto;
			padding-top: 51px;
			padding-bottom: 0;
		}
	}
}

.card-item__description {
	grid-column: 1/-1;
}
