.card-item {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media #{$not-mobile} {
		padding: 34px 38px 39px 36px;
		background: linear-gradient(transparent 81px,
		#f2f2f2 81px);
	}

	@media #{$desktop-only} {
		grid-template-rows: 170px 90px 105px 40px;
	}

	&--different-card {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;

		@media #{$not-mobile} {
			--border: "";
			position: relative;
			padding-right: 46px 0 40px;
			background: linear-gradient(transparent 81px,
			#ffffff 81px);
			inline-size: fit-content;
			grid-template-rows: 174px 90px 139px 40px;
		}
	}

	&::before {
		content: var(--border, none);
		position: absolute;
		inset: 0;
		top: 82px;
		border: 2px solid #f2f2f2;
	}

	&::marker {
		color: transparent;
	}
}

.card-item__title {
	font-family: var(--accent-font);
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	grid-column: 2/3;
	grid-row: 1/2;
	padding-right: 101px;
	margin: 0;

	@media #{$not-mobile} {
		padding: 34px 72px 21px 77px;
	}

	@media #{$desktop-only} {
		padding: 34px 40px 21px 50px;
	}

	&--different-title {
		padding: 0;

		@media #{$not-mobile} {
			grid-row: 2/3;
		}
	}
}

.card-item__link {
	text-decoration: none;
	grid-column: 2/-1;

	@media #{$not-mobile} {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		text-align: center;
	}

	&--product-image {
		grid-column: 1/2;
		grid-row: 1/3;
		margin: 0 auto;

		@media #{$not-mobile} {
			grid-column: 1 / -1;
			grid-row: 1/2;
			height: 100%;
		}
	}

	&--different-card-link {
		grid-column: 1/-1;
		padding-top: 10px;

		@media #{$desktop-only} {
			margin: 0 auto;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.card-item__description {
	grid-column: 1/-1;
	text-align: center;

	@media #{$not-mobile} {
		margin-bottom: 109px;
		grid-row: 3/4;
	}
}

.card-item__image {
	&--different {
		@media #{$not-mobile} {
			margin-top: 80px;
			grid-row: 1/2;
		}
	}
}
