.card-info {
	grid-column: 2/3;
	grid-row: 2/3;

	@media #{$not-mobile} {
		grid-row: 3/4;
		grid-column: 1/-1;
		margin: 0;
	}

	@media #{$desktop-only} {
		margin-top: 10px;
		margin-left: 4px;
	}
}


.card-info__item {
	font-family: var(--main-font);
	color: #444444;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	margin: 0;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 16px;
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 3px;
		padding-top: 14px;
	}

	@media #{$desktop-only} {
		padding-bottom: 5px;
		padding-top: 10px;
		padding-right: 3px;
	}

	&--number {
		@media #{$not-mobile} {
			margin: 0;
			text-align: right;
		}
	}
}

.card-info__number {
	margin: 0;
	text-align: right;
}
