.catalog {
	background-color: #ffffff;
}

.catalog__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	margin-bottom: 35px;
	padding: 27px 40px 41px 20px;

	@media #{$not-mobile} {
		font-size: 60px;
		line-height: 60px;
		margin: 0;
	}

	@media #{$desktop-only} {
		padding: 0 0;
	}
}

.catalog__title::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 59px;
	top: 165px;
	height: 1px;
	width: 100vw;
	background: #d9d9d9;

	@media #{$not-mobile} {
		content: none;
	}
}
