.catalog {
	background-color: #ffffff;
}

.catalog__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 27px 40px 41px 20px;

	@media #{$not-mobile} {
		padding: 65px 30px 59px;
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 111px;
	}

	@media #{$desktop-only} {
		padding: 74px 0 0;
		margin-bottom: 90px;
	}
}
