.contacts {
	background-color: #ffffff;
}

.contacts__container {
	padding: 26px 20px;
	display: grid;
	grid-template-columns: 139px 139px;
	justify-content: center;
}

.contacts__description {
	background-color: #ffffff;
	font-family: "Oswald", sans-serif;
	color: #111111;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.contacts__adress {
	font-family: "Lato", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	background-color: #ffffff;
	margin: 0;
}

.contacts__map {
	margin: 0;
	padding: 0;
	background: url("/img/location.jpg") no-repeat center / cover;
	width: auto;
	height: 362px;
}
