
.contacts-map {
	display: grid;
	grid-template-columns: 1fr;
	background: url("/img/location.jpg") no-repeat center / cover;
	height: 362px;
}

.contacts-map iframe {
	border: none;
	display: block;
	width: 390px;
}
