.contacts {
	background-color: #ffffff;

	@media #{$desktop-only} {
		position: relative;
	}
}

.contacts__container {
	padding: 26px 20px;
	display: grid;
	grid-template-columns: 139px 139px;
	justify-content: center;
	gap: 10px;

	@media #{$not-mobile} {
		grid-template-columns: 172px 160px;
		padding: 60px 70px 56px;
		justify-content: space-between;
	}

	@media #{$desktop-only} {
		grid-template-columns: 163px 155px;
		width: 405px;
		padding: 60px 80px 56px;
		position: absolute;
		margin-top: 96px;
		margin-left: 110px;

		&--bg-lighter {
			background-color: #ffffff;
		}
	}
}

.contacts__description {
	font-family: var(--accent-font);
	color: #111111;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	background-color: #ffffff;


	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 26px;
	}
}

.contacts__adress {
	font-family: var(--main-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	background-color: #ffffff;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 20px;
	}
}

.contacts__map {
	display: block;
	width: 100vw;
}

.contacts__map iframe {
	border: none;
	display: block;
	width: 100%;
}
