.copyright {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}

.copyright__logo {
	&--academy-text::after {
		content: "";
		display: block;
		width: 113px;
		height: 19px;
		mask: url("/img/logo-academy.svg") no-repeat center / contain;
		background-color: currentcolor;
		box-sizing: border-box;
	}
}
