.example {
	background-color: #eaeaea;
	margin: 0;
}

.example__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	margin: 25px 105px 20px 0;
}

.example__description {
	font-family: "Lato", sans-serif;
	color: #444444;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin: 40px 20px 0 20px;
}

.statistic-info {
	margin: 20px 20px 0 20px;
}

.statistic-info__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
}

&--statistic-expenses {
	font-family: "Lato", sans-serif;
	color: #444444;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

.example-cat {
	margin: 20px 20px 40px 20px;
}
