.example {
	background-color: #eaeaea;
	padding: 25px 20px 40px;

	@media #{$not-mobile} {
		background-color: #ffffff;
		padding: 156px 0 0;
	}

	@media #{$desktop-only} {
		background-color: #f2f2f2;
		padding: 82px 0 40px;
		display: grid;
		grid-template-columns: 50% 50%;
	}
}

.example__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	margin: 0;

	@media #{$not-mobile} {
		font-size: 60px;
		line-height: 60px;
		margin-top: -150px;
		padding: 0 30px 0;
	}

	@media #{$desktop-only} {
		margin-top: -214px;
		padding: 0 110px 0;
	}
}

.example__title::before {
	@media #{$not-mobile} {
		content: "";
		display: block;
		width: 100vw;
		height: 1px;
		background-color: #e6e6e6;
		margin-bottom: 43px;
		margin-left: -30px;
	}

	@media #{$desktop-only} {
		content: none;
	}
}

.example__description {
	font-family: var(--main-font);
	color: #444444;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-top: 37px;
	margin-bottom: -10px;


	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
		margin-top: 0;
		padding: 63px 30px 0;
	}

	@media #{$desktop-only} {
		margin-top: -8px;
		grid-column: 1/2;
		padding: 0 176px 32px 111px;
	}
}
