.example {
	background-color: #eaeaea;
	padding: 25px 20px 40px;

	@media #{$not-mobile} {
		background-color: #ffffff;
		padding: 149px 0 0;
	}

	@media #{$desktop-only} {
		background-color: #f2f2f2;
		padding: 82px 0 40px;
		display: grid;
		grid-template-columns: 50% 50%;
	}
}

.example__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	margin: 0;

	@media #{$not-mobile} {
		font-size: 60px;
		line-height: 60px;
		margin-top: -150px;
		padding: 0 30px 0;
	}

	@media #{$desktop-only} {
		margin-top: -211px;
		padding: 0 110px 0;
	}
}

.example__description {
	font-family: var(--main-font);
	color: #444444;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 38px;
	margin-top: 40px;
	padding-right: 37px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
		margin-top: 0;
		padding: 116px 30px 0;
	}

	@media #{$desktop-only} {
		margin-top: -7px;
		grid-column: 1 / 2;
		padding: 0 186px 32px 111px;
	}
}
