.form-contacts {
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 1fr;
	overflow: hidden;
}

.form-contacts__title {
	--air-gap: 20px;
	--line-color: #68b738;
	--line-thickness: 2px;
	font-family: "Oswald", sans-serif;
	color: #222222;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	margin: 0;
	padding: 6px 110px 35px 0;
	display: block;
	position: relative;
	inline-size: fit-content;


	@media #{$not-mobile} {
		padding: 71px 0 65px;
		font-size: 36px;
		line-height: 36px;
	}

	@media #{$desktop-only} {
		padding: 51px 0 52px;
	}

	&::before {
		content: "";
		position: absolute;
		inset-block: calc((100% - var(--line-thickness)) / 2);
		inset-inline-end: calc(100% + var(--air-gap));
		block-size: var(--line-thickness);
		inline-size: calc(100vw - 100% - var(--air-gap));
		background-color: var(--line-color);
		box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
	}
}

.form-contacts__list {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 0;
	width: 1fr;
	margin-bottom: 24px;


	@media #{$not-mobile} {
		gap: 20px;
		margin-bottom: 65px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 78px;
		margin-bottom: 67px;
	}
}

.form-contacts__item {
	position: relative;
	display: flex;
	gap: 10px;

	@media #{$not-mobile} {
		gap: 20px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 70px 1fr;
	}

	&::marker {
		color: transparent;
	}
}

.form-contacts__text {
	padding-top: 15px;
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 20px;
	}
}

.form-contacts__field {
	box-sizing: border-box;
	width: 100%;
	padding: 14px 52px 14px 15px;
	border: 1px solid #e7e7e7;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	color: var(--main-color);

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 30px;
	}

	&--phone {
		padding: 14px 69px 14px 15px;
	}

	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	&:hover {
		border: 1px solid #cdcdcd;
	}

	&:focus-visible {
		border: 1px solid #444444;
	}
}

.form-contacts__icon {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	width: 20px;
	height: 20px;
	background-color: currentColor;
	mask: var(--icon) no-repeat center / cover;
	pointer-events: none;

	&--phone {
		--icon: url("../../icons/stack.svg#phone");
	}

	&--email {
		--icon: url("../../icons/stack.svg#message");
	}

	.form-contacts__field:focus-visible + & {
		background-color: #68b738;
	}
}
