.form-button-container {
	display: grid;
	grid-template-columns: 1fr;
	padding-bottom: 72px;

	@media #{$not-mobile} {
		grid-template-columns: 1fr 1fr;
		padding-bottom: 72px;
		gap: 64px;
	}

	@media #{$desktop-only} {
		gap: 84px;
	}
}

.form-button-container__button {
	background-color: var(--accent-color);
	color: #ffffff;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	border: none;
	text-transform: uppercase;
	text-align: center;
	padding: 7px 44px;

	@media #{$desktop-only} {
		padding: 14px 44px;
		font-size: 20px;
		line-height: 20px;
	}
}

.form-button-container__nessesary {
	font-family: "Lato", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding-top: 21px;
	margin: 0 auto;
	vertical-align: center;

	@media #{$not-mobile} {
		text-align: left;
		margin: 0;
		padding-top: 10px;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 16px;
		padding-top: 17px;
	}
}
