.form-comments {
	display: flex;
	flex-direction: column;
	width: 1fr;
	padding: 0 0 23px;
}

.form-comments__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	padding-bottom: 38px;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
		padding-top: 65px;
	}
}

.form-comments__content {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 9px 12px 10px 15px;
	height: 150px;
	border: none;
	box-shadow: 0 0 1px 1px #e7e7e7;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 10px 19px;
	}
}
