.hero {
	font-family: var(--accent-font);
	margin-bottom: 20px;

	@media #{$mobile-only} {
		color: #ffffff;
		position: relative;
	}

	@media #{$tablet-only} {
		--bg-visible: none;
		margin-bottom: -2px;
	}

	@media #{$desktop-only} {
		--bg-height: 694px;
		--bg-width-decrement: 50%;
		--cat-position: left 0px;
		--cat-size: 1040px 694px;
		position: static;
		margin-bottom: 108px;
	}

	@include bg-image("hero-cat");

	&::before {
		content: var(--bg-visible, "");
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		left: var(--bg-width-decrement, 0);
		height: var(--bg-height, 302px);
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat var(--cat-position, center) / var(--cat-size, contain),
			linear-gradient(
				to right,
				#54555a 50%,
				#434248 50%
			);
	}
}

.hero__container {
	display: grid;

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.hero__description {
	@media #{$mobile-only} {
		display: contents;
	}

	@media #{$not-mobile} {
		z-index: 1;
		display: grid;
		padding-inline: 88px;
	}

	@media #{$desktop-only} {
		place-self: start;
		padding-inline: 80px;
	}
}

.hero__title {
	font-family: var(--accent-font);
	font-weight: 400;

	@media #{$mobile-only} {
		margin-block: 28px;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
	}

	@media #{$not-mobile} {
		margin-block: 32px;
		font-size: 60px;
		line-height: 60px;
	}

	@media #{$desktop-only} {
		margin-block: 50px;
	}
}

.hero__slogan {
	margin-top: -4px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;

	@media #{$mobile-only} {
		text-align: center;
	}

	@media #{$not-mobile} {
		margin-block: 6px;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-top: -9px;
	}
}

.hero__link {
	display: block;
	padding: 11px 22px;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #68b738;

	@media #{$mobile-only} {
		order: 1;
	}

	@media #{$not-mobile} {
		z-index: 1;
		margin-top: 45px;
		margin-right: auto;
		font-size: 20px;
		line-height: 20px;
		padding: 18px 30px;
	}

	@media #{$desktop-only} {
		margin-top: 45px;
		font-size: 20px;
		line-height: 20px;
	}

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		background-color: #5eaa2f;
		color: rgb(255 255 255 / 0.3);
	}
}

.hero__photo {
	display: block;
	margin: 29px auto 3px;

	@media #{$not-mobile} {
		margin-top: -83px;
	}

	@media #{$desktop-only} {
		margin-top: -30px;
		margin-left: -162px;
	}
}
