.hero {
	font-family: "Oswald", sans-serif;
	color: #ffffff;
	font-weight: 400;
}

.hero__description {
	background-color: var(--accent-color);
	min-height: 302px;

	@media #{$not-mobile} {
		min-height: 223px;
	}
}

.hero__title {
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 27px 36px 0 35px;
	text-align: center;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 60px;
		line-height: 60px;
		color: #000000;
		padding: 62px 237px 0 117px;
		margin: 0;
		text-align: left;
	}
}

.hero__slogan {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 164px;
	padding: 0 60px 0 62px;
	text-align: center;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
		text-align: left;
		margin: 41px 366px 0 119px;
		padding: 0;
	}
}

.hero__image {
	background-color: #ffffff;
}

.hero__photo {
	margin-top: -115px;

	@media #{$not-mobile} {
		height: 609px;
		width: 709px;
		margin: 20px 29px 0 20px;
	}
}

.hero__button {
	display: flex;
	font-size: 14px;
	line-height: 18px;
	padding: 7px 44px;
	margin: 0 auto;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 20px;
	}
}
