.important {
	border: none;
	padding: 0;
	padding-bottom: 19px;
	margin: 0;
	overflow: hidden;

	@media #{$not-mobile} {
		padding: 0;
	}

	@media #{$desktop-only} {
		margin-top: 26px;
	}
}

.important::before {
	content: "";
	display: block;
	width: 1000%;
	height: 1px;
	background-color: #d9d9d9;
	margin-left: -100%;
	margin-right: -100%;
	margin-bottom: 22px;

	@media #{$not-mobile} {
		display: none;
	}
}

.important::after {
	content: "";
	display: block;
	width: 1000%;
	height: 1px;
	background-color: #d9d9d9;
	margin-left: -100%;
	margin-right: -100%;
	margin-top: 22px;

	@media #{$not-mobile} {
		display: none;
	}
}

.important__list {
	font-family: var(--accent-font);
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 13px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		box-shadow: 0 0 1px 1px #e7e7e7;
		padding: 20px;
	}

	@media #{$desktop-only} {
		border: 1px solid #e7e7e7;
		padding: 25px 39px;
	}
}

.important__item {
	&::marker {
		color: transparent;
	}


	&:disabled {
		opacity: 80%;
	}
}


.important__title {
	display: flex;
	gap: 19px;
	align-items: center;
}

.important__radio-button[type="radio"] {
	appearance: none;
	background-color: #ffffff;
	font: inherit;
	color: currentColor;
	height: 40px;
	width: 40px;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
	display: grid;
	place-content: center;

	@media #{$desktop-only} {
		margin: 0;
	}

	&:checked::before {
		content: "";
		margin: auto;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #68b738;
		mask: url("../../icons/stack.svg#tick-radio") no-repeat center / cover;
	}


	&:hover {
		border: 1px solid #bababa;
	}
}
