.important {
	border: none;
	padding: 0;
	padding-bottom: 37px;
	margin: 0;
	overflow: hidden;

	@media #{$not-mobile} {
		padding: 0;
	}

	@media #{$desktop-only} {
		margin-top: 26px;
	}
}

.important::before {
	content: "";
	height: 1px;
	position: absolute;
	width: 100vw;
	background: #d9d9d9;
	box-shadow: 100vw 0 0 0 #d9d9d9;
	right: 0;

	@media #{$not-mobile} {
		display: none;
	}
}

.important::after {
	content: "";
	height: 1px;
	position: absolute;
	width: 100vw;
	background: #d9d9d9;
	box-shadow: 100vw 0 0 0 #d9d9d9;
	right: 0;
	margin-top: 15px;

	@media #{$not-mobile} {
		display: none;
	}
}

.important__list {
	font-family: var(--accent-font);
	color: #222222;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 13px;
	margin-top: 20px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		border: 1px solid #e7e7e7;
		padding: 24px 29px 20px 28px;
		margin-left: 38px;
		margin-top: 48px;
		margin-right: 35px;
	}

	@media #{$desktop-only} {
		border: 1px solid #e7e7e7;
		padding: 25px 39px;
	}
}

.important__item {
	&::marker {
		color: transparent;
	}


	&:disabled {
		opacity: 80%;
	}
}


.important__title {
	display: flex;
	gap: 15px;
	align-items: center;

	@media #{$not-mobile} {
		gap: 25px;
	}
}

.important__radio-button[type="radio"] {
	appearance: none;
	background-color: #ffffff;
	font: inherit;
	color: currentColor;
	height: 30px;
	width: 30px;
	margin: 0 0 2px;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
	display: grid;
	place-content: center;

	@media #{$not-mobile} {
		height: 40px;
		width: 40px;
	}

	@media #{$desktop-only} {
		margin: 0;
	}

	&:checked::before {
		content: "";
		margin: auto;
		display: block;
		width: 30px;
		height: 30px;
		background-color: #68b738;
		mask: url("../../icons/stack.svg#tick-radio") no-repeat center / cover;
	}


	&:hover {
		border: 1px solid #bababa;
	}
}
