.main-nav {
	background-color: #ffffff;
	font-family: "Oswald", sans-serif;
	padding: 0;

	@media #{$desktop-only} {
		width: 478px;
		margin-right: 110px;
	}
}

.main-nav__link {
	color: #000000;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
	}
}

.main-nav__item {
	&::marker {
		color: transparent;
	}
}

.main-nav__list {
	@media #{$not-mobile} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 440px;
	}
}

.main-nav__toogle {
	@media #{$not-mobile} {
		display: none;
	}
}
