.main-header {
	background-color: #ffffff;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 244px 1fr;
		justify-content: space-between;
	}

	@media #{$desktop-only} {
		gap: 592px;
		background-color: transparent;
	}
}

.main-header__logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@media #{$not-mobile} {
		padding-top: 24px;
		grid-template-columns: 60px 154px;
	}

	@media #{$desktop-only} {
		padding-top: 53px;
		grid-template-columns: 60px 200px;
		justify-content: left;
		margin-left: 110px;
	}
}

.main-header__logo img {
	width: 38px;
	height: 39px;
	padding-top: 10px;
}

.main-header__logo2 img {
	width: 109px;
	height: 19px;
	padding-top: 20px;
}
