.main-form {
	background-color: #ffffff;
}

.main-form__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 28px 0 28px;

	@media #{$not-mobile} {
		font-size: 60px;
		line-height: 60px;
		padding-left: 38px;
		padding-top: 38px;
	}

	@media #{$desktop-only} {
		padding-top: 7px;
		padding-left: 0;
		margin-top: 7px;
	}
}

.main-form__description {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 9px 0 17px;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 26px 39px 46px;
	}

	@media #{$desktop-only} {
		padding: 27px 0 39px;
	}
}
