.main-footer {
	margin: 0;
}

.contacts-wrapper {
	padding: 26px 20px;
}

.contacts__description {
	background-color: #ffffff;
	font-family: "Oswald", sans-serif;
	color: #111111;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.contacts__adress {
	font-family: "Lato", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.main-footer__map {
	margin: 0;
	padding: 0;
}

.main-footer__copyright {
	margin: 0;
	padding: 39px 20px 20px 20px;
}

.social__item::marker {
	color: transparent;
}
