.main-nav {
	position: relative;
	width: auto;
	background-color: #ffffff;
	font-family: var(--accent-font);
	padding: 0;
	color: #000000;
	min-height: 61px;

	@media #{$desktop-only} {
		width: 478px;
		background-color: transparent;

		a {
			color: #000000;
			--line-color: #68b738;
		}

		&--text-invert a {
			color: #ffffff;
			--line-color: #ffffff;
		}
	}
}

.main-nav__toogle {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	top: -40px;
	right: 20px;
	z-index: 2;
	border: none;

	@media #{$not-mobile} {
		display: none;
	}

	&:hover {
		background-color: rgb(0 0 0 / 0.6);
	}
}

.main-nav--closed .main-nav__toogle {
	&:active {
		--bg-alpha: 0.6;
	}
}

.main-nav--closed .main-nav__toogle::before {
	content: "";
	position: absolute;
	top: 25px;
	left: 20px;
	right: 20px;
	width: 24px;
	height: 16px;
	margin: -20px;
	background: url("../../icons/stack.svg#burger") no-repeat center / contain;
	display: block;
}

.main-nav--opened .main-nav__toggle {
	top: 0;
	right: 20px;
	left: 20px;
	margin: -20px;

	&:active {
		--bg-alpha: 0.3;
	}
}

.main-nav__link {
	color: #000000;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	--air-gap: -100%;
	--line-color: #68b738;
	--line-thickness: 2px;
	position: relative;
	inline-size: fit-content;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
	}

	@media #{$desktop-only} {
		color: #ffffff;
		--line-color: #ffffff;
	}
}

.main-nav__link[aria-current="page"]::after {
	@media #{$not-mobile} {
		content: "";
		position: absolute;
		inset-block: calc((100% - var(--line-thickness)) * 1.5);
		block-size: var(--line-thickness);
		inset-inline-end: calc(100% + var(--air-gap));
		inline-size: calc(100%);
		background-color: var(--line-color);
	}
}

.main-nav__item {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 24px;

	&::marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		border: none;
		padding: 0;
	}
}

.main-nav__item:hover {
	opacity: 0.8;
}

.main-nav__item:active {
	opacity: 0.6;
}

.main-nav__item:focus {
	opacity: 0.8;
}

.main-nav__item:first-child {
	border-top: 1px solid #e6e6e6;
	padding-top: 24px;

	@media #{$not-mobile} {
		border: none;
		padding-top: 0;
	}
}

.main-nav__list {
	display: grid;
	grid-template-columns: 1fr;
	flex-wrap: wrap;
	text-align: center;
	gap: 22px;
	padding: 11px 0 0;
	margin: 0;
	margin-right: 20px;


	@media #{$not-mobile} {
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-between;
		padding: 42px 0 12px;
		margin-right: 30px;
	}

	@media #{$desktop-only} {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 1fr;
		justify-content: space-between;
		gap: 0;
		padding: 69px 0 8px;
		background-color: transparent;
	}
}

.main-nav__list::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	mask: url("../../icons/stack.svg#cross") no-repeat center / cover;
	background-color: currentColor;
	top: -38px;
	left: 349px;
}
