.motivation {
	background-color: #ffffff;
	padding: 30px 0 24px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px 0;

	@media #{$not-mobile} {
		gap: 30px 0;
		padding: 0 0 45px;
	}

	@media #{$desktop-only} {
		gap: 80px;
		padding: 64px 0 71px;
		grid-template-columns: 1fr 1fr;
	}
}

.motivation__item {
	background-color: #f2f2f2;
	padding: 30px 33px 20px 20px;

	&::marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		padding: 77px 62px 53px 52px;
	}

	@media #{$desktop-only} {
		width: 454px;
		margin: 0;
	}
}

.motivation__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;

	@media #{$not-mobile} {
		text-align: left;
		font-size: 36px;
		line-height: 36px;
	}

	@media #{$desktop-only} {
		font-size: 36px;
		line-height: 36px;
		text-align: center;
	}
}

.motivation__title::before {
	content: "";
	display: block;
	width: 50px;
	height: 53px;
	background: url("/icons/cat-slim.svg") no-repeat center / contain;
}

.motivation__description {
	font-family: "Lato", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 23px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
		margin: 24px 316px 47px 0;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 24px;
		margin: 73px 0 23px 0;

		&--drscription-pro {
			font-size: 16px;
			line-height: 24px;
			margin: 73px 5px 23px 0;
		}
	}
}


.motivation__description::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #d9d9d9;
	display: block;
	margin-top: 20px;

	@media #{$not-mobile} {
		display: none;
	}
}

.motivation__link {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 4px 47px 4px 0;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 4px 57px 4px 0;
		grid-template-columns: 138px 60px;
		align-items: center;
	}
}

.motivation__link::after {
	content: "";
	display: block;
	width: 24px;
	height: 12px;
	mask: url("../../icons/stack.svg#icons_arrow") no-repeat / contain;
	background-color: currentColor;
}
