.motivation {
	background-color: #ffffff;
	padding: 0 0 24px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px 0;

	@media #{$not-mobile} {
		gap: 30px 0;
		padding: 0 0 45px;
	}

	@media #{$desktop-only} {
		gap: 80px;
		padding: 64px 0 71px;
		grid-template-columns: (repeat(auto-fill, minmax(570px, 1fr)));
		column-gap: clamp(60px, 30px + 100vw /25.6, 80px);
	}
}

.motivation__item {
	background-color: #f2f2f2;
	padding: 19px 33px 20px 14px;
	display: grid;
	grid-template-columns: 80px 1fr;


	&::marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		grid-template-columns: 1fr 243px;

		&--slim {
			padding: 75px 65px 20px 52px;
		}

		&--pro {
			padding: 77px 53px 26px 54px;
		}
	}

	@media #{$desktop-only} {
		grid-template-columns: 110px 1fr;
		padding: 41px 52px 55px;
	}
}

.motivation__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	margin: 0;
	grid-column: 2/-1;
	grid-row: 1/2;
	padding-top: 11px;

	@media #{$not-mobile} {
		text-align: left;
		font-size: 36px;
		line-height: 36px;
		grid-column: 1/1;
	}

	@media #{$desktop-only} {
		font-size: 36px;
		line-height: 36px;
		text-align: center;
		grid-column: 2/-1;
		grid-row: 1/2;
		padding-top: 35px;

		&--pro {
			margin-left: -50px;
		}

		&--slim {
			margin-left: -85px;
		}
	}
}

.motivation__pic {
	grid-column: 1/2;
	grid-row: 1/2;

	@media #{$not-mobile} {
		grid-column: 2/-1;
		grid-row: 1/4;
	}

	@media #{$desktop-only} {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	&--icon-slim {
		--icon: url("../../icons/stack.svg#cat-slim");
	}

	&--icon-pro {
		--icon: url("../../icons/stack.svg#cat-pro");
	}
}

.motivation__pic::before {
	content: "";
	display: block;
	width: 67px;
	height: 57px;
	background: var(--icon) no-repeat left / contain;
	box-sizing: border-box;

	@media #{$not-mobile} {
		width: 271px;
		height: 224px;
	}

	@media #{$desktop-only} {
		width: 160px;
		height: 112px;
		margin-left: -32px;
	}
}

.motivation__description {
	font-family: var(--main-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	margin-top: 19px;
	margin-bottom: 23px;
	grid-column: 1/-1;
	padding-left: 6px;

	@media #{$mobile-only} {
		--has-border: "";
	}

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
		padding-right: 29px;
		grid-column: 1/1;
		margin: 24px 0 48px;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 24px;
		grid-column: 1/-1;
		padding: 0;
		padding-top: 38px;
		padding-bottom: 25px;
		margin: -7px 0 -1px 0;
	}


	&--drscription-pro {
		@media #{$desktop-only} {
			font-size: 16px;
			padding-top: 36px;
			margin: -6px 0 -7px;
		}
	}

	&::after {
		content: var(--has-border, none);
		width: 100%;
		height: 1px;
		background-color: #d9d9d9;
		display: block;
		margin-top: 20px;
	}
}

.motivation__link {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 0 47px 1px 5px;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	display: grid;
	grid-template-columns: 102px 1fr;
	grid-column: 1/-1;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 4px 57px 32px 0;
		grid-template-columns: 130px 60px;
		align-items: center;
		grid-column: 1/1;
	}

	@media #{$desktop-only} {
		grid-column: 1/-1;
		grid-template-columns: 130px 60px;
	}

	&:hover {
		--bg-position: 0;
	}

	&:active {
		opacity: 0.3;
	}

	&::after {
		content: "";
		display: block;
		width: 32px;
		height: 12px;
		background: url("../../icons/stack.svg#arrow") no-repeat var(--bg-position, -8px) / cover;
		transition: background-position 0.2s;
	}
}
