.optional {
	border: none;
	padding: 0 0 34px;

	@media #{$not-mobile} {
		padding: 0 0 57px;
	}

	@media #{$desktop-only} {
		padding: 0 0 63px;
	}
}

.optional__title {
	--air-gap: 20px;
	--line-color: #68b738;
	--line-thickness: 2px;
	position: relative;
	padding: 0;
	width: fit-content;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: #000000;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
		padding: 41px 41px 2px 38px;
	}

	&::before {
		content: "";
		position: absolute;
		inset-block: calc((100% - var(--line-thickness)) / 2);
		inset-inline-end: calc(100% + var(--air-gap));
		block-size: var(--line-thickness);
		inline-size: calc(100vw - 100% - var(--air-gap));
		background-color: var(--line-color);
		box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
	}
}

.optional__list {
	display: flex;
	flex-direction: column;
	width: 1fr;
	padding: 34px 0 0;
	margin: 0;
	gap: 12px;
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 52px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
		padding-left: 40px;
	}

	@media #{$desktop-only} {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 141px;
	}
}

.optional__item {
	display: grid;

	&::marker {
		color: transparent;
	}

	&:disabled {
		opacity: 80%;
	}
}

.optional__element[type="checkbox"] {
	appearance: none;
	margin: 0;
	margin-right: 4px;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	place-content: center;

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&:checked::before {
		content: "";
		margin: auto;
		display: block;
		width: 30px;
		height: 30px;
		background-color: #68b738;
		mask: url("../../icons/stack.svg#tick-checkbox") no-repeat center / contain;

		@media #{$not-mobile} {
			width: 40px;
			height: 40px;
		}
	}

	&:hover {
		border: 1px solid #bababa;
	}
}

.optional__checkbox {
	display: grid;
	grid-template-columns: 44px 1fr;
	align-items: center;

	@media #{$not-mobile} {
		grid-template-columns: 57px 1fr;
		padding-top: 1px;
	}
}
