.optional {
	border: none;
	padding: 0 0 30px;

	@media #{$not-mobile} {
		padding: 0 0 57px;
	}
}

.optional__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	padding: 0;
	--air-gap: 20px;
	--line-color: #68b738;
	--line-thickness: 2px;
	position: relative;
	inline-size: fit-content;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
	}
}

.optional__title::before {
	content: "";
	position: absolute;
	inset-block: calc((100% - var(--line-thickness)) / 2);
	inset-inline-end: calc(100% + var(--air-gap));
	block-size: var(--line-thickness);
	inline-size: calc(100vw - 100% - var(--air-gap));
	background-color: var(--line-color);
	box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
}

.optional__list {
	display: flex;
	flex-direction: column;
	width: 1fr;
	padding: 30px 0 0;
	margin: 0;
	gap: 13px;
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding-top: 62px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
	}

	@media #{$desktop-only} {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
}

.optional__item {
	display: grid;

	&::marker {
		color: transparent;
	}
}

.optional__element[type="checkbox"] {
	appearance: none;
	background-color: #ffffff;
	margin: 0;
	margin-right: 4px;
	font: inherit;
	color: currentColor;
	width: 40px;
	height: 40px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	place-content: center;
}

.optional__element[type="checkbox"]:checked::before {
	content: "";
	width: 19px;
	height: 15px;
	display: block;
	mask: url("../../icons/checkbox.svg") no-repeat center / contain;
	background-color: #68b738;
	margin: auto;
}

.optional__checkbox {
	display: grid;
	grid-template-columns: 65px 1fr;
	align-items: center;
}
