.personal-info {
	border: none;
	padding: 7px 0 4px 0;
}

.personal-info__list {
	display: flex;
	flex-direction: column;
	width: 1fr;
	gap: 14px;
	padding: 0;

	@media #{$desktop-only} {
		gap: 20px;
	}
}

.personal-info__item {
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 55px 1fr;

	&--weight {
		grid-template-columns: 75px 1fr;
	}

	&--age {
		grid-template-columns: 115px 1fr;
	}

	&::marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;

		&--weight {
			grid-template-columns: 90px 1fr;
		}

		&--age {
			grid-template-columns: 130px 1fr;
		}
	}

	@media #{$desktop-only} {
		gap: 27px;
	}
}

.personal-info__text {
	text-align: left;
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	box-sizing: border-box;

	&--name {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	&--field {
		display: block;
		padding: 14px 20px;
		border: none;
		box-shadow: 0 0 1px 1px #e7e7e7;
		appearance: textfield;
		box-sizing: border-box;
	}

	&marker {
		color: transparent;
	}


	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		padding: 11px 20px;
	}
}

input:hover {
	display: block;
	outline: 1px solid #cdcdcd;
	box-sizing: border-box;
}
