.personal-item {
	text-align: left;
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	&--name {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	&--field {
		padding: 14px 20px;
		border: none;
		box-shadow: 0 0 1px 1px #e7e7e7;
	}

	&marker {
		color: transparent;
	}


	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}
