.personal-info {
	border: none;
	margin: 0;
	padding: 6px 0 8px;

	@media #{$not-mobile} {
		padding: 1px 40px 8px;
	}

	@media #{$desktop-only} {
		padding: 0;
		padding-top: 8px;
	}
}

.personal-info__list {
	display: flex;
	flex-direction: column;
	width: 1fr;
	gap: 14px;
	padding: 0;

	@media #{$desktop-only} {
		gap: 15px;
		margin-left: -20px;
	}
}

.personal-info__item {
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 55px 1fr;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		gap: 27px;
	}

	&--weight {
		grid-template-columns: 75px 1fr;

		@media #{$not-mobile} {
			grid-template-columns: 90px 1fr;
		}
	}

	&--age {
		grid-template-columns: 115px 1fr;

		@media #{$not-mobile} {
			grid-template-columns: 130px 1fr;
		}
	}

	&::marker {
		color: transparent;
	}
}

.personal-info__text {
	text-align: left;
	font-family: var(--accent-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	box-sizing: border-box;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		padding: 11px 20px;
	}

	&--name {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	&--field {
		display: block;
		padding: 14px 20px;
		border: none;
		outline: 1px solid #e7e7e7;
		appearance: textfield;
		box-sizing: border-box;

		&:hover {
			display: block;
			outline: 1px solid #cdcdcd;
			box-sizing: border-box;
		}
	}

	&::marker {
		color: transparent;
	}
}


input {
	outline-offset: -2px;

	&:focus-visible {
		outline: 2px solid #000000;
	}

	&--error {
		outline: 2px solid #ff0000; // красный, но не этот
	}
}
