
.present {
	width: 279px;
	height: 100%;
	background: url("/img/catalog-cat.jpg") no-repeat center / cover;
	background-color: var(--accent-color);
}

.present__description {
	font-family: "Lato", sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 187px 61px 43px 58px;
	margin: 0;
}
