
.present {
	width: 279px;
	height: 100%;
	background: url("/img/catalog-cat.jpg") no-repeat center / cover;
	background-color: var(--accent-color);

	@media #{$not-mobile} {
		width: 100%;
		height: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 50px;
	}

	@media #{$desktop-only} {
		width: 245px;
		height: 100%;
	}
}

.present__icon::before {
	content: "";
	display: block;
	width: 78px;
	height: 80px;
	mask: url("/icons/icon-gift.svg") no-repeat center / cover;
	background-color: currentcolor;
}

.present__description {
	font-family: "Lato", sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 187px 61px 43px 58px;
	margin: 0;

	@media #{$not-mobile} {
		padding: 71px 124px 69px 58px;
	}

	@media #{$desktop-only} {
		padding: 184px 43px 42px 40px;
	}
}
