.present {
	height: 100%;
	background:
		linear-gradient(
			rgb(105 183 56 / 0.85),
			rgb(105 183 56 / 0.85)
		),
		var(--bg-image) no-repeat center/ cover;

	@include bg-image("catalog-cat");

	@media #{$not-mobile} {
		width: 100%;
		height: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 50px;
	}

	@media #{$desktop-only} {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}
}

.present__icon {
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 78px;
		height: 80px;
		mask: url("../../icons/stack.svg#icon-gift") no-repeat center/ cover;
		background-color: #ffffff;
		top: 60px;
		left: 102px;

		@media #{$not-mobile} {
			left: 77px;
		}

		@media #{$desktop-only} {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.present__description {
	font-family: var(--main-font);
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 187px 61px 43px 58px;
	text-align: center;
	margin: 33px 0 9px 0;

	@media #{$not-mobile} {
		padding: 43px 47px 9px 58px;
		text-align: left;
		align-self: start;
	}

	@media #{$desktop-only} {
		padding: 113px 30px 25px 36px;
		text-align: center;
	}
}
