.product-card-list {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media #{$desktop-only} {
		padding: 85px 0;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
