.social {
	display: flex;
	justify-content: center;
	gap: 28px;
}

.social__item {
	&::marker {
		color: transparent;
	}
}

.social__link {
	&--icon_vk {
		--icon: url("../../icons/stack.svg#vk");
	}

	&--icon_yt {
		--icon: url("../../icons/stack.svg#tg");
	}

	&--icon_tg {
		--icon: url("../../icons/stack.svg#yt");
	}
}

.social__link::before {
	content: "";
	display: block;
	width: 28px;
	height: 22px;
	mask: var(--icon) no-repeat center / contain;
	box-sizing: border-box;
	background: #666666;
}
