.special {
	background-color: #ffffff;

	@media #{$not-mobile} {
		padding: 1px 0 46px;
	}

	@media #{$desktop-only} {
		padding: 28px 0 205px;
	}
}

.special__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	margin: 0;
	margin-bottom: 39px;

	@media #{$not-mobile} {
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 72px;
	}

	@media #{$desktop-only} {
		margin-bottom: 71px;
	}
}


.special__list {
	font-family: var(--main-font);
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	padding-bottom: 49px;
	gap: 20px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 134px 52px;
		position: relative;
		counter-reset: index;
	}

	@media #{$desktop-only} {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 80px;
	}
}


.special__item {
	--icon-size: 60px;
	display: grid;
	grid-template-columns: 79px 1fr;
	counter-increment: index;
	align-items: center;
	z-index: 1;

	&--icon_leaf {
		--icon: url("../../icons/stack.svg#leaf");
	}

	&--icon_pot {
		--icon: url("../../icons/stack.svg#pot");
	}

	&--icon_cutlery {
		--icon: url("../../icons/stack.svg#cutlery");
	}

	&--icon_alarm {
		--icon: url("../../icons/stack.svg#alarm");
	}

	&::before {
		content: "";
		display: block;
		width: var(--icon-size);
		height: var(--icon-size);
		background: #68b738 var(--icon) no-repeat center / 32px 32px;
	}

	&::marker {
		color: transparent;
	}

	&::after {
		content: var(--counter, none);
		position: absolute;
		font-family: var(--accent-font);
		font-size: 280px;
		line-height: 280px;
		color: #f2f2f2;
		margin-left: 117px;
		margin-top: 21px;
		z-index: -1;

		@media #{$not-mobile} {
			margin-top: -37px;
		}
	}

	@media #{$not-mobile} {
		--icon-size: 80px;
		--counter: counter(index);
		grid-template-columns: 245px;
		grid-template-rows: 100px 1fr;
		gap: 12px;
		align-items: baseline;
	}

	@media #{$desktop-only} {
		gap: 11px;
	}
}
