.statistic {
	background-color: #eaeaea;
	grid-column: 1/2;
}

.statistic__item {
	padding: 16px 43px 15 px 42px;
	display: grid;
	gap: 18px;
	grid-template-columns: 1fr 1fr;

	@media #{$not-mobile} {
		background-color: #ffffff;
	}

	@media #{$desktop-only} {
		background-color: #f2f2f2;
		margin: 0;
	}
}


.statistic__list {
	display: grid;
	grid-template-areas:
		"numbers"
		"text";
	margin: 0 auto;

	&--statistic-expenses {
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

.statistic__list::before {
	content: "";
	display: block;
	width: 124px;
	height: 56px;
	margin-top: -71px;
	background: url("../../img/weight-back.png") no-repeat center / cover;
}

.statistic__list:last-child::before {
	display: none;
}

.statistic__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	grid-area: numbers;
	margin: 0;
	padding-bottom: 5px;
	text-align: center;

	&--expenses {
		font-family: "Oswald", sans-serif;
		color: #000000;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin: 0;

		@media #{$desktop-only} {
			font-size: 20px;
			line-height: 20px;
			text-align: center;
		}
	}
}

.statistic__description {
	text-align: center;
	grid-area: text;

	&--expenses {
		font-family: "Oswald", sans-serif;
		color: #000000;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	@media #{$desktop-only} {
		text-align: center;
		font-size: 20px;
		line-height: 20px;
	}
}
