.statistic {
	background-color: #eaeaea;
	grid-column: 1 / 2;

	@media #{$desktop-only} {
		background-color: #f2f2f2;
	}
}

.statistic__item {
	padding: 16px 22px 135px 0;
	display: grid;
	grid-template-columns: 40% 20% 40%;

	@media #{$not-mobile} {
		background-color: #ffffff;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 232px;
		gap: 38px;
		margin-top: 49px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 180px 214px;
		background-color: #f2f2f2;
		margin: 0;
		padding: 48px 0 0 101px;
		gap: 6px;
	}
}


.statistic__list {
	display: grid;
	grid-template-areas:
		"numbers"
		"text";
	margin: 0 auto;
	border: 1px solid #cdcdcd;

	&--statistic-expenses {
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		margin-top: 34px;
		margin-left: 48px;
		border: none;

		@media #{$not-mobile} {
			grid-column: 3/-1;
			flex-direction: column;
			align-items: end;
			margin: 0;
			margin-top: 12px;
		}

		@media #{$desktop-only} {
			grid-column: 1/-1;
			padding-top: 24px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}
	}

	&--killo {
		padding: 14px 42px 27px 42px;
		text-transform: uppercase;
		max-width: 48px;
		max-height: 14px;

		@media #{$not-mobile} {
			padding: 12px 57px 43px;
		}

		@media #{$desktop-only} {
			padding: 15px 57px 43px;
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}

	&--days {
		padding: 14px 19px 27px 22px;
		text-transform: uppercase;
		grid-column: 3/-1;
		max-width: 93px;
		max-height: 14px;

		@media #{$not-mobile} {
			grid-column: 2/3;
			padding: 14px 37px 40px 30px;
		}

		@media #{$desktop-only} {
			grid-column: 2/-1;
			grid-row: 1/2;
		}
	}
}


.statistic__list:last-child::before {
	display: none;
}

.statistic__title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	grid-area: numbers;
	margin: 0;
	padding-bottom: 5px;
	text-align: center;
	position: relative;

	@media #{$not-mobile} {
		font-size: 30px;
		line-height: 37px;
	}

	@media #{$desktop-only} {
		margin-bottom: -14px;
	}

	&--expenses {
		font-family: var(--accent-font);
		color: #000000;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		padding-bottom: 17px;
		padding-left: 2px;
		position: inherit;

		@media #{$not-mobile} {
			font-size: 20px;
			line-height: 20px;
			padding-top: 10px;
		}

		@media #{$desktop-only} {
			grid-column: 2/-1;
			text-align: left;
			padding-left: 46px;
			padding-top: 16px;
		}
	}
}

.statistic__description {
	display: flex;
	flex-direction: column;
	text-align: center;
	grid-area: text;
	text-transform: none;
	position: absolute;
	margin-top: 37px;
	background-color: #eaeaea;
	font-size: 12px;
	line-height: 12px;

	@media #{$not-mobile} {
		background-color: #ffffff;
		font-size: 14px;
		line-height: 14px;
	}

	@media #{$desktop-only} {
		background-color: #f2f2f2;
	}

	&--expenses {
		font-family: var(--accent-font);
		color: #000000;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		position: inherit;

		@media #{$not-mobile} {
			font-size: 20px;
			line-height: 20px;
		}

		@media #{$desktop-only} {
			font-size: 20px;
			line-height: 20px;
			grid-row: 1/2;
			grid-column: 1/2;
			margin-left: -10px;
		}
	}

	&--days {
		margin-left: -4px;
		width: 87px;
		margin-top: 32px;

		@media #{$not-mobile} {
			margin-left: -19px;
			width: 142px;
			margin-top: 46px;
		}

		@media #{$desktop-only} {
			margin-left: -19px;
			width: 142px;
			margin-top: 47px;
		}
	}

	&--killo {
		margin-left: -23px;
		width: 80px;
		margin-top: 32px;

		@media #{$not-mobile} {
			margin-left: -30px;
			margin-top: 42px;
			padding: 5px;
			width: 96px;
		}

		@media #{$desktop-only} {
			margin-left: -42px;
			margin-top: 28px;
			padding: 17px;
			padding-top: 17px;
			width: 97px;
		}
	}
}
