.form-contacts {
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 1fr;
}

.form-contacts__title {
	font-family: "Oswald", sans-serif;
	color: #222222;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
	padding: 26px 110px 35px 0;


	@media #{$not-mobile} {
		padding: 71px 0 65px;
		font-size: 36px;
		line-height: 36px;
	}
}

.form-contacts__list {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 0;
	width: 1fr;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.form-contacts__item {
	display: grid;
	grid-template-columns: 55px 1fr;
	text-align: left;

	&--phone {
		display: grid;
		grid-template-columns: 70px 1fr;
		text-align: left;
	}

	&::marker {
		color: transparent;
	}
}

.form-contacts__text {
	font-family: "Oswald", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.form-contacts__field {
	font-family: "Oswald", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 14px 52px 14px 15px;
	width: 1fr;
	border: 1px solid #cdcdcd;
	text-align: left;

	&--phone {
		padding: 14px 69px 14px 15px;
	}
}
