.main-form {
	background-color: #ffffff;
}

.main-form__title {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 27px 20px 30px 20px;
}

.main-form__description {
	font-family: "Oswald", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 7px 20px 39px 20px;
	text-transform: uppercase;
}

.main-form-filter__nessesary {
	font-family: "Lato", sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding-top: 21px;
	margin: 0 auto;
}
