.personal-info {
	border: none;
	padding: 7px 0 72px 0;
}

.personal-info__list {
	display: flex;
	flex-direction: column;
	width: 1fr;
	gap: 14px;
	padding: 0;
}

.personal-info__item {
	font-family: "Oswald", sans-serif;
	color: var(--main-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 55px 1fr;

	&--weight {
		grid-template-columns: 75px 1fr;
	}

	&--age {
		grid-template-columns: 115px 1fr;
	}

	&::marker {
		color: transparent;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;

		&--weight {
			grid-template-columns: 90px 1fr;
		}

		&--age {
			grid-template-columns: 130px 1fr;
		}
	}
}

input::placeholder {
	padding: 30px;
}
