<footer class="main-footer">
	<section class="contacts">
		<h2 class="visually-hidden">Контакты</h2>
		<div class="contacts__container contacts__container--bg-lighter {% if permalink == "index.html" %} contacts__container--bg-lighter{% endif %}">
			<h2 class="visually-hidden">Адресс магазина</h2>
			<p class="contacts__description contacts__description--bg-lighter">приглашаем<br> к сотрудничеству дилеров!</p>
			<p class="contacts__adress contacts__adress--bg-lighter">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</p>
		</div>

		<div class="contacts__map"><iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.822608413316!2d30.31522021609819!3d59.968265981886944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5afc31%3A0x5f2ac55f567b2400!2sHTML%20Academy!5e0!3m2!1sru!2sru!4v1671377621829!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
	</section>

	<div class="footer-inf page__centerer">
		<div class="footer-inf__logo"></div>
		<ul class="footer-inf__social social">
			<li class="social__item">
				<a class="social__link social__link--icon_vk" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">ВКонтакте</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--icon_yt" href="https://youtube.com/htmlacademyru">
					<span class="visually-hidden">Ютуб</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--icon_tg" href="https://t.me/htmlacademy" >
					<span class="visually-hidden">Телеграм</span>
				</a>
			</li>
		</ul>

		<div class="footer-inf__copyright copyright ">
			<a class="copyright__logo copyright__logo--academy-text" href="https://htmlacademy.ru">
				<span class="visually-hidden">Разработано в Html Academy</span>
			</a>
			<a class="copyright__logo copyright__logo--academy-pic" href="https://htmlacademy.ru">
				<span class="visually-hidden">Лого Html Academy</span>
			</a>
		</div>

	</div>
</footer>
