<footer class="main-footer">
	<section class="contacts" >
		<h2 class="visually-hidden">Контакты</h2>
		<div class="contacts__container {% if permalink == "index.html" %} contacts__container--bg-lighter{% endif %}">
			<h2 class="visually-hidden">Адресс магазина</h2>
			<p class="contacts__description">приглашаем к сотрудничеству дилеров!</p>
			<p class="contacts__adress">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</p>
		</div>
	</section>
	<div class="contacts-map"></div>

	<div class="page__centerer">
		<div class="main-footer__logo"></div>
		<ul class="main-footer__social social">
			<li class="social__item">
				<a class="social__link social__link--icon_vk" href="https://vk.com/htmlacademy">
					<span class="visually-hidden">ВКонтакте</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--icon_yt" href="https://youtube.com/htmlacademyru">
					<span class="visually-hidden">Ютуб</span>
				</a>
			</li>
			<li class="social__item">
				<a class="social__link social__link--icon_tg" href="https://t.me/htmlacademy" >
					<span class="visually-hidden">Телеграм</span>
				</a>
			</li>
		</ul>

		<div class="main-footer__copyright copyright ">
			<a class="copyright__logo copyright__logo--academy-text" href="https://htmlacademy.ru">
				<span class="visually-hidden">Разработано в Html Academy</span>
			</a>
			<a class="copyright__logo copyright__logo--academy-pic" href="https://htmlacademy.ru">
				<span class="visually-hidden">Лого Html Academy</span>
			</a>
		</div>

	</div>
</footer>
