<header class="main-header">
	<div class="main-header__logos">
		<a href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
			<svg class="main-header__logo" width="40" height="40">
				<use href="img/sprite.svg#logo-pic-mobile"></use>
			</svg>
		</a>
		<a href="index.html" {% if permalink == page.path %}aria-current="page"{% endif %}>
			<svg class="main-header__logo main-header__logo--text" width="102" height="19" >
				<use href="img/sprite.svg#logo-text"></use>
			</svg>
		</a>
	</div>
	<nav class="main-nav main-nav--opened main-nav--nojs {% if permalink == "index.html" %}main-nav--text-invert{% endif %}" >
		<button class="main-nav__toogle" type="button"><span class="visually-hidden">Открыть меню</span></button>
		<ul class="main-nav__list">
			<!-- Цикл и условие -->
			{% for page in pages %}
			<li class="main-nav__item">
				<a class="main-nav__link" href="{{page.path}}"  {% if permalink == page.path %}aria-current="page"{% endif %}>{{page.name}}</a>
			</li>
			{% endfor %}

		</ul>
	</nav>

</header>
