<header class="main-header">
		<a class="main-header__logo">
			<img class="main-header__logo main-header__logo--image" src="image/stack.svg#logo-mobile" width="38" height="38" alt="Кэт энерджи">
		</a>
		<a class="main-header__logo2">
			<img class="main-header__logo main-header__logo--text" src="image/stack.svg#logo-2" width="102" height="19" alt="Наименование фирмы">
		</a>
		<nav class="burger">
			<button class="burger__toogle" type="button"><span class="visually-hidden">Открыть меню</span></button>
			<ul class="burger__list">
				<li class="burger__item">
					<a href="./index.html">Главная</a>
				</li>
				<li class="burger__item">
					<a href="./catalog.html">Каталог продукции</a>
				</li>
				<li class="burger__item">
					<a href="./form.html">Подбор программы</a>
				</li>
			</ul>
		</nav>

	</header>
