{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog">
	<div class="catalog-container">
		<h1 class="catalog__title">Каталог продукции</h1>
		<div class="catalog-card">
			<ul class="product-card-list">
		<!-- Карточки товара -->
				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-1.png" alt="Фото продукта" width="70" height="90">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">500г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Курица</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">700 ₽</dd>
						</div>
					</dl>
					<a class="card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-2.png" alt="Фото продукта" width="90" height="100">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">1000г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Курица</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">700 ₽</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-3.png" alt="Фото продукта" width="70" height="90">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">500г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Рыба</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">700 ₽</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-4.png" alt="Фото продукта" width="90" height="100">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">1000г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Рыба</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">1000 ₽</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title title title--lvl_5">Cat Energy slim 500 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-5.png" alt="Фото продукта" width="70" height="90">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">500г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Гречка</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">400 ₽</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy slim 1000 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-6.png" alt="Фото продукта" width="90" height="100">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">1000г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Гречка</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">700 ₽</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Cat Energy slim 500 г</h3>
					</a>
					<a class="card-item__link" href="javascript:void(0)">
						<img class="card__image" src="./img/catalog-7.png" alt="Фото продукта" width="70" height="90">
					</a>
					<dl class="card-info">
						<div class="card-info__item">
							<dt class="card-info__text">Масса</dt>
							<dd class="card-info__number">500г</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Вкус</dt>
							<dd class="card-info__number">Рис</dd>
						</div>
						<div class="card-info__item">
							<dt class="card-info__text">Цена</dt>
							<dd class="card-info__number">500рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link" href="javascript:void(0)">
						<h3 class="card__title">Показать еще 100500 товаров</h3>
					</a>
					<p class="card-item__description">На самом деле вкусов гораздо больше!</p>
					<a class="card__button  card__button--show-all button" href="javascript:void(0)">Показать все</a>
				</li>

			</ul>
		</div>

	<!-- Раздел дополнительные товары -->
		<section class="additional-wrapper">
			<h2 class="additional-wrapper__title">Дополнительные товары</h2>
			<ul class="additional-cards">
				<li class="additional-cards__item additional-cards">
					<h3 class="additional-cards__title">Сахарозаменитель</h3>
					<p class="additional-cards__text">1 упаковка (100 г)</p>
					<p class="additional-cards__prise">200 ₽</p>
					<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="additional-cards__item additional-cards">
					<h3 class="additional-cards__title">Питьевая вода</h3>
					<p class="additional-cards__text">1 литр</p>
					<p class="additional-cards__prise">100 ₽</p>
					<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="additional-cards__item aditional-card">
					<h3 class="additional-cards__title">Молоко</h3>
					<p class="additional-cards__text">1 литр</p>
					<p class="additional-cards__prise">100 ₽</p>
					<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="additional-cards__item aditional-card">
					<h3 class="additional-cards__title">Витамины</h3>
					<p class="additional-cards__text">1 упаковка (30 г)</p>
					<p class="additional-cards__prise">300 ₽</p>
					<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
				</li>
			</ul>

		<div class="present">
			<h2 class="visually-hidden">Подарок за заказ</h2>
			<span class="present__icon present__icon--gift"></span>
			<p class="present__description">Закажите все и получите чехол для кота в подарок!</p>
		</div>
	</section>

	</div>
</main>
{% endblock %}
