{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog">
	<div class="catalog-container page__centerer">
		<h1 class="catalog__title">Каталог продукции</h1>
		<ul class="product-card-list">
	<!-- Карточки товара -->
			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title">Cat Energy PRO 500 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-1", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">500г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Курица</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">700&nbsp;₽</dd>
					</div>
				</dl>
				<a class="card__button button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title card-item__title--big">Cat Energy PRO 1000 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image card-item__link--big" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-2", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">1000г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Курица</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">700&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button card__button--big button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title">Cat Energy PRO 500 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-3", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">500г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Рыба</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">700&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title card-item__title--big">Cat Energy PRO 1000 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image card-item__link--big" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-4", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">1000г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Рыба</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">1000&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button card__button--big button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title ">Cat Energy slim 500 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-5", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">500г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Гречка</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">400&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title card-item__title--big">Cat Energy slim 1000 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image card-item__link--big" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-6", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">1000г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Гречка</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">700&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button card__button--big button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card">
				<a class="card-item__link" href="javascript:void(0)">
					<h3 class="card-item__title">Cat Energy slim 500 г</h3>
				</a>
				<a class="card-item__link card-item__link--product-image" href="javascript:void(0)">
					{% include "./templates/picture.twig" with {name: "products/product-7", class: "card-item__image", alt: "Фото продукта."} %}
				</a>
				<dl class="card-info">
					<div class="card-info__item">
						<dt class="card-info__text">Масса</dt>
						<dd class="card-info__number">500г</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Вкус</dt>
						<dd class="card-info__number">Рис</dd>
					</div>
					<div class="card-info__item">
						<dt class="card-info__text">Цена</dt>
						<dd class="card-info__number">500&nbsp;₽</dd>
					</div>
				</dl>
				<a class=" card__button button" href="javascript:void(0)">Заказать</a>
			</li>

			<li class="card-item card-item--different-card card">
				<a class="card-item__link card-item__link--different-card-link" href="javascript:void(0)">
					<h3 class="card-item__title card-item__title--different-title">Показать еще 100500 товаров</h3>
				</a>
				<a class="card-item__link card-item__link--product-image card-item__link--different-card-link" href="javascript:void(0)">
					<img class="card-item__image card-item__image--different" src="../../icons/stack.svg#plus" alt="Фото продукта" width="60" height="60">
				</a>
				<p class="card-item__description">На самом деле вкусов гораздо больше!</p>
				<a class="card__button  card__button--show-all button button--show-all-different" href="javascript:void(0)">Показать все</a>
			</li>

		</ul>

	<!-- Раздел дополнительные товары -->
		<section class="additional">
			<h2 class="additional__title">Дополнительные товары</h2>
			<div class="additional-wrapper">
				<ul class="additional-cards">
					<li class="additional-cards__item additional-card">
						<h3 class="additional-cards__title">Сахарозаменитель</h3>
						<p class="additional-cards__text">1 упаковка (100 г)</p>
						<p class="additional-cards__prise">200 ₽</p>
						<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
					</li>
					<li class="additional-cards__item additional-card">
						<h3 class="additional-cards__title">Питьевая вода</h3>
						<p class="additional-cards__text">1 литр</p>
						<p class="additional-cards__prise">100 ₽</p>
						<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
					</li>
					<li class="additional-cards__item aditional-card">
						<h3 class="additional-cards__title">Молоко</h3>
						<p class="additional-cards__text">1 литр</p>
						<p class="additional-cards__prise">100 ₽</p>
						<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
					</li>
					<li class="additional-cards__item aditional-card">
						<h3 class="additional-cards__title">Витамины</h3>
						<p class="additional-cards__text">1 упаковка (30 г)</p>
						<p class="additional-cards__prise">300 ₽</p>
						<a class="additional-cards__button button" href="javascript:void(0)">Заказать</a>
					</li>
				</ul>

			<div class="present">
				<h2 class="visually-hidden">Подарок за заказ</h2>
				<span class="present__icon present__icon--gift"></span>
				<p class="present__description">Закажите все<br> и получите чехол для<br> кота в подарок!</p>
			</div>
		</div>
	</section>

	</div>
</main>
{% endblock %}
