{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="catalog">
	<div class="catalog-container">
		<h1 class="catalog-title">Каталог продукции</h1>
		<div class="catalog-card">
			<ul class="product-card-list">
		<!-- Карточки товара -->
				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="68" height="86">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy PRO 500 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">500г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Курица</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">700рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="84" height="100">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">1000г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Курица</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">700рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="68" height="86">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy PRO 500 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">500г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Рыба</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">700рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="84" height="100">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">1000г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Рыба</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">1000рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="68" height="78">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy slim 500 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">500г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Гречка</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">400рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="68" height="78">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy slim 1000 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">1000г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Гречка</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">700рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<a class="card-item__link">
						<img class="card__image" src="#" alt="Фото продукта" width="68" height="78">
					</a>
					<a class="card-item__link" href="#">
						<h3 class="card__title">Cat Energy slim 500 г</h3>
					</a>
					<dl class="card-info-list">
						<div class="card-info-item">
							<dt class="card-info-item__text">Масса</dt>
							<dd class="card-info-item__number">500г</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Вкус</dt>
							<dd class="card-info-item__number">Рис</dd>
						</div>
						<div class="card-info-item">
							<dt class="card-info-item__text">Цена</dt>
							<dd class="card-info-item__number">500рублей</dd>
						</div>
					</dl>
					<a class=" card__button button" href="javascript:void(0)">Заказать</a>
				</li>

				<li class="card-item card">
					<img class="card__image" src="#" alt="Отсутствует фото продукта" width="30" height="30">
					<a class="card-item__link" href="#">
						<h3 class="card__title">Показать еще 100500 товаров</h3>
					</a>
					<p class="card-item__description">На самом деле вкусов гораздо больше!</p>
				</li>

			</ul>
		</div>

	<!-- Раздел дополнительные товары -->
		<div class="aditional-products">
			<ul class="aditional-card-list">
				<li class="aditional-card-item aditional-card">
					<h3 class="aditional-card-title">Сахарозаменитель</h3>
					<p class="aditional-card-text">1 упаковка (100 г)</p>
					<p class="aditional-card-prise">200 ₽</p>
					<a class="aditional-card__button button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="aditional-card-item aditional-card">
					<h3 class="aditional-card-title">Питьевая вода</h3>
					<p class="aditional-card-text">1 литр</p>
					<p class="aditional-card-prise">100 ₽</p>
					<a class="aditional-card__button button" href="javascript:void(0)">Заказать</a>
				</li>
				<li class="aditional-card-item aditional-card">
					<h3 class="aditional-card-title">Витамины</h3>
					<p class="aditional-card-text">1 упаковка (30 г)</p>
					<p class="aditional-card-prise">300 ₽</p>
					<a class="aditional-card__button button" href="javascript:void(0)">Заказать</a>
				</li>
			</ul>

		</div>

		<div class="present">
			<h2 class="visually-hidden">Подарок за заказ</h2>
			<span class="present__icon present__icon--gift"></span>
			<p class="present-description">Закажите все и получите чехол для кота в подарок!</p>
		</div>

	</div>
</main>
{% endblock %}
