{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-form">
	<div class="page__centerer">
		<h1 class="main-form__title">Подбор программы</h1>
		<p class="main-form__description">Заполните анкету, и мы подберем<br> программу питания для вашего кота</p>
	</div>
	<form class="main-form-filter page__centerer" action="https://echo.htmlacademy.ru" method="get">
		<div class="main-form-filter__container">
			<fieldset class="personal-info">
				<legend class="visually-hidden">Форма с информацией о животном</legend>
				<ul class="personal-info__list">
					<li class="personal-info__item">
						<label class="personal-info__text personal-info__text--name " for="your-name">Имя<span aria-hidden="true">*</span>:</label>
						<input class="personal-info__text personal-info__text--field" placeholder="Барсик" type="text" name="newsletter-email" id="your-name" required>
					</li>
					<li class="personal-info__item personal-info__item--weight">
						<label class="personal-info__text personal-info__text--name" for="cat-weight">Вес&nbsp;(кг):<span aria-hidden="true">*</span></label>
						<input class="personal-info__text personal-info__text--field" placeholder="7" type="number" name="newsletter-email" id="cat-weight" required>
					</li>
					<li class="personal-info__item personal-info__item--age">
						<label class="personal-info__text personal-info__text--name" for="cat-age">Возраст&nbsp;(лет):<span aria-hidden="true">*</span></label>
						<input class="personal-info__text personal-info__text--field" placeholder="7" type="number" name="newsletter-email" id="cat-age" required>
					</li>
				</ul>
			</fieldset>

			<!-- Радиокнопки-->
			<fieldset class="form-important important">
				<legend class="visually-hidden">То что нужно животному</legend>
				<ul class="important__list">
					<li class="important__item">
						<label class="important__title">
							<input class="important__radio-button" type="radio" name="important-reason" value="slim" checked>
							Похудение
						</label>
					</li>
					<li class="important__item">
						<label class="important__title">
							<input class="important__radio-button" type="radio" name="important-reason" value="fat">
							Набор массы
						</label>
					</li>
					<li class="important__item">
						<label class="important__title">
							<input class="important__radio-button" type="radio" name="important-reason" value="advice">
							Не знаю (Нужен ваш совет)
						</label>
					</li>
				</ul>
			</fieldset>
		</div>

		<!-- Почта и телефон-->
		<fieldset class="form-contacts">
			<legend class="form-contacts__title">Контактные данные (владельца кота)</legend>
			<ul class="form-contacts__list">
				<li class="form-contacts__item">
					<label class="form-contacts__text" for="your-email" >E-mail:<span aria-hidden="true">*</span></label>
					<input class="form-contacts__field  field" placeholder="kuklachev@gmail.com" type="email" name="form-email" id="your-email" required>
				</li>
				<li class="form-contacts__item form-contacts__item--phone">
					<label class="form-contacts__text form-contacts__text" for="your-telephone">Телефон:<span aria-hidden="true">*</span></label>
					<input class="form-contacts__field form-contacts__field--phone field" placeholder="8 (960) 900-60-90" type="number" name="form-telephone" id="your-telephone" required>
				</li>
			</ul>
		</fieldset>

		<!-- Комментарии-->
		<div class="form-comments">
			<label class="form-comments__title" for="your-comments">Комментарий</label>
			<textarea class="form-comments__content" placeholder="Расскажите обо всех повАдках кота" id="your-comments"></textarea>
		</div>

		<!-- Дополнительно-->
		<fieldset class="form-optional optional">
			<legend class="optional__title">Дополнительно</legend>
			<ul class="optional__list">
				<li class="optional__item">
					<label class="optional__checkbox">
						<input type="checkbox" class="optional__element" name="optional" value="сахарозаменитель" checked>
						Cахарозаменитель
					</label>
				</li>
				<li class="optional__item">
					<label class="optional__checkbox">
						<input type="checkbox" class="optional__element" name="additional" value="питьевая вода">
						Питьевая вода
					</label>
				</li>
				<li class="optional__item">
					<label class="optional__checkbox">
						<input type="checkbox" class="optional__element" name="optional" value="молоко">
						Молоко
					</label>
				</li>
				<li class="optional__item">
					<label class="optional__checkbox">
						<input type="checkbox" class="optional__element" name="optional" value="витамины">
						Витамины
					</label>
				</li>
			</ul>
		</fieldset>
		<div class="form-button-container">
			<button class="form-button-container__button" type="submit">Отправить заявку</button>
			<div class="form-button-container__nessesary" aria-hidden="true">* — Обязательные поля</div>
		</div>

	</form>
</main>
{% endblock %}
