{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="visually-hidden">Функциональное питание для котов</h1>

	<section class="programm">
		<div class="programm__wrapper">
			<span class="visually-hidden">Фоновая картинка с котом</span>
			<header class="programm__header">
				<h2 class="programm__title">Функциональное питание для котов</h2>
				<p class="programm__slogan">Занялся собой? Займись котом!</p>
				<button class="programm__button button" type="button">Подобрать программу</button>
			</header>
		</div>
	</section>

	<section class="article">
		<div class="article-wrapper">
			<div class="article__card">
				<h2 class="article__title">Похудение</h2>
				<div class="article__image article__image--cat-sit cat-sit"><span class="visually-hidden">Кот сидит</span></div>
				<p class="article__description">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
				<a href="#" class="article__link">Каталог slim</a>
				<a href="#" class="article__link article__link--arrow"><span class="visually-hidden">Кнопка стрелочка</span></a>
			</div>
			<div class="article__card">
				<h2 class="article__title">Набор массы</h2>
				<div class="article__image article__image--cat-run cat-run"><span class="visually-hidden">Кот бежит</span></div>
				<p class="article__description">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
				<a href="#" class="article__link">Каталог pro</a>
				<a href="#" class="article__link article__link--arrow"><span class="visually-hidden">Кнопка стрелочка</span></a>
			</div>
		</div>
	</section>

	<section class="special">
		<div class="special__wrapper">
			<h2 class="special__title">Как это работает</h2>
			<ul class="special__item">
				<li class="special__list special__list--icon_leave"></li>
				<li class="special__list special__list--description">Функциональное питание содержит только полезные питательные вещества.</li>
				<li class="special__item special__item--icon_pot"></li>
				<li class="special__item special__item--description">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</li>
				<li class="special__item special__item--icon_cutlery"></li>
				<li class="special__item special__item--description">Замените один-два приема обычной еды на наше функциональное питание.</li>
				<li class="special__item special__item--icon_alarm"></li>
				<li class="special__item special__item--description">Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!</li>
			</ul>
		</div>

	</section>

</main>
{% endblock %}
